<div class="img">
<img src="" alt="">
</div>

<div class="name">
    <h1>Recipe Name</h1>
</div>

<div class="price">
    <p></p>
</div>

<div class="btn">
    <button type="button">
        Manage Recipe <fa-icon [icon]="faCaretDown"></fa-icon>
    </button>
    <!-- <ul class="dropdown-menu">
    <li><a href="#"></a>Add</li>
        <li><a href="#"></a>Edit</li>
        <li><a href="#"></a>Delete</li>
    </ul> -->
</div>

<div class="description">
Description
</div>

<div class="ingredients">
    Ingredients
</div>
