<form action="" class="form">
    <div class="container">
                <div class="name">
                    <label for="name"  >Name</label>
                    <input type="text" >
                </div>

                <div class="amount">
                    <label for="amount">Amount</label>
                    <input type="number">
                </div>
     </div>
    <div class="btn-btn">
        <button class="btn add" type="submit">Add</button>
        <button class="btn delete" type="button">Delete</button>
        <button class="btn clear" type="button">Clear</button>
    </div>


</form>